.main-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maze-wrapper {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);

}

.cell {
    flex: 1;
}

.wall {
    background-color: black;
}

.top {
    border-top: 1px solid black;
}

.down {
    border-bottom: 1px solid black;
}

.left {
    border-left: 1px solid black;
}

.right {
    border-right: 1px solid black;
}

.button-solve {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 5rem;
    cursor: pointer;
}

.button-restart {
    background-color: rgb(232, 225, 11);
    width: 50px;
    height: 50px;
    border-radius: 5rem;
    cursor: pointer;
}
.button-wrapper {
    position: absolute;
    display: flex;
    top: 90vh;
    width: 100vh;
    justify-content: space-around;
}
.visited {
    background-color: yellow;

}

.current {
    background-color: green;
}